html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 62.5%;
	font: inherit;
    vertical-align: baseline;
    box-sizing:border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    background:deepskyblue;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* * {
    border: 1px solid grey;
} */
.hero-image{
    position: relative;
    height: 60vh;
    overflow: hidden;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),/* linear gradient is making image slightly dimmer to read text */ url(https://images.pexels.com/photos/2653362/pexels-photo-2653362.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat, center;
    background-size: cover;
    margin-left: 5%;
    margin-right: 5%;
}
nav{
    display:flex;
    background:gray;
}
nav a{
    font-size: 1.6rem;
    padding: .5%;
    background-color:white;
    border-radius: 10px;
    margin: 1%;
    text-decoration: none;
    color:black;
}
nav a:hover{
    opacity: 0.9;
}
a{
    border: 1px solid black;
}
.container{ /* setting the position for the text */
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-weight: 600;
}
.container h1{
    font-size: 6rem;
    border: 10px solid white;
}
.container p{
    font-size: 2.5rem;
    color:white;
    padding: 2%;

}
.button{
 padding: 2%;
 background:white;
 text-decoration: none;
 border-radius: 10px;
 font-size: 1.6rem;
 color: black;
}
.button:hover{
    opacity: 0.9;
} 
.first-section{
    display:flex;
    flex-direction:column;
    text-align:center;
    justify-content:center;
    text-align: center;
    font-size: 2rem;
    height: 35vh;
    margin-left: 5%;
    margin-right: 5%;
    border-bottom: 1px dashed black;
    background:azure;;
}

h2{
    text-align:center;
    font-size: 4rem;
    padding: 2%;
}
.team-container{
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
}
.the-team{
    background:azure;
    margin-right: 5%;
    margin-left: 5%;
}
.team-member{
    text-align: center;
    width: 30%;
    font-size: 1.6rem;
    margin-bottom: 3%;
}
.team-member h3{
    font-size: 2rem;
    font-weight: 700;
}
.team-member img{
    width: 40%;
    border: 2px solid black;
}
.startPlanning{
    text-align:center;
    font-size: 1.6rem;
    margin: 3%;
}
.startPlanning h3{
    font-size: 3rem;
    margin: 2%;
}
.startPlanning a{
    padding: 1%;
    background:white;
}
.startPlanning a:hover{
    background-color: azure;
}
footer nav{
    justify-content: center;
    background:grey;
}

@media(width: 800px){
    .first-section{
        font-size: 1.6rem;
    }
    .team-member{
        font-size: 1.3rem;
        width: 50%;
    }
    .team-member h3{
        font-size: 1.6rem;
    }
    h2{
        font-size: 3rem;
    }
    footer nav a{
        text-align: center;
    }
}
@media(width: 500px){ /* mobile sizing */
nav{
    justify-content: center;
}
nav a{
    font-size: 2rem;
}
.container h1{
    font-size: 4rem;
}
.container p{
    font-size: 2rem;
    margin-bottom: 10%;
}
.first-section{
    font-size: 1.6rem;
    height: 50vh;
}
h2{
    font-size: 2.5rem;
}
.the-team{
    flex-direction:column;
}
.team-member{
    width: 100%;
    margin-bottom: 5%;
    border-bottom: 1px dashed black;
    font-size: 1.4rem;
}
.team-member h3{
    font-weight: 700;
}
.startPlanning h3{
    font-size: 2.5rem;
}
.startPlanning{
    margin-bottom: 10%;
}
footer{
    background:grey;
    height: auto;
    
}
footer nav a{
    font-size: 1.6rem;
}
}
@media(max-width:375px){
    .container h1{
        font-size: 4.5rem;
    }
    .first-section h2{
        font-size: 2.3rem;
    }
    .first-section{
        font-size: 1.4rem;
        height: auto;
    }
    .the-team{
        flex-flow: column, wrap;
    }
    .the-team h2{
        font-size: 2.3rem;
    }
    .team-member{
        width: 100%;
        font-size: 1.4rem;
    }
    .startPlanning h3{
        font-size: 2.5rem;
    }
}