html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 62.5%;
	font: inherit;
    vertical-align: baseline;
    box-sizing:border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    /* background:deepskyblue; */
    background-image: linear-gradient(to top, grey, deepskyblue);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.hero-image{
    position: relative;
    height: 60vh;
    overflow: hidden;
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),/* linear gradient is making image slightly dimmer to read text */ url(https://images.unsplash.com/photo-1530062845289-9109b2c9c868?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1352&q=80) no-repeat, center;
    background-size: cover;
}
.hero-image-2{
    position: relative;
    height: 60vh;
    overflow: hidden;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(https://images.pexels.com/photos/2653362/pexels-photo-2653362.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat, center;
    background-size: cover;
}
@keyframes example{
    from {color:white;}
    to {color:deepskyblue;}
}
nav{
    display:flex;
    background-image: linear-gradient(to top, grey, deepskyblue );
    align-items:baseline;
}
#top-logo{
    padding:0;
    width: 15%;
}
#top-logo a{
    color:white;
    font-size: 2.5rem;
}
nav a{
    font-size: 1.6rem;
    margin: .5%;
    text-decoration: none;
    color:black;
}
nav a:hover{
    transition: 0.3s;
    font-size: 2rem;
    color:white
}
.container{ /* setting the position for the text */
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-weight: 600;
}
.container h1{
    font-size: 6rem;
    font-family: 'Galada', sans-serif;
    text-shadow: 3px 5px black;
    
}
.container h1:hover{
    transition: 2s;
    color: deepskyblue;
}
.container p{
    font-size: 2.5rem;
    color:white;
    padding: 2%;
    padding-bottom: 3%;

}
.button{
 padding: 2%;
 background:white;
 text-decoration: none;
 border-radius: 10px;
 font-size: 1.6rem;
 color: black;
 text-shadow:.5px .5px grey;
}


.button:hover{
    opacity: 0.9;
    background-color:lightgray;
} 
.first-section{
    text-align: center;
    font-size: 2.2rem;
    height: auto;
    padding-bottom: 5%;
    color:white;
}

h2{
    text-align:center;
    font-size: 4rem;
    padding: 2%;
    font-family: 'Galada', sans-serif;
}
.features-container{
    display:flex;
    justify-content: space-around;
}
.features{
    color:white;
}
.potluck-feature{
    text-align: center;
    width: 30%;
    font-size: 1.6rem;
    margin-bottom: 3%;
    

}
.potluck-feature h3{
    font-size: 2rem;
    font-weight: 700;
}
.potluck-feature img{
    width: 40%;
    border-radius: 50%;
    border: 2px solid black;
    background: honeydew;
}
.potluck-feature img:hover{
    transition: 1s;
    background-color: turquoise;
}

.startPlanning{
    text-align:center;
    font-size: 1.6rem;
    margin: 3%;
    color:white;
}
.startPlanning h3{
    font-size: 3rem;
    margin: 2%;
    font-family: 'Galada', sans-serif;
}
.startPlanning a{
    padding: 1%;
    background:white;
}
footer nav a{
    font-size: 2rem;
}
footer nav a:hover{
    font-size: 2.5rem;
}
/* about page stuff */
.team-container{
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
}
.the-team{
    background:azure;
    margin-right: 5%;
    margin-left: 5%;
}
.team-member{
    text-align: center;
    width: 30%;
    font-size: 1.6rem;
    margin-bottom: 3%;
}
.team-member h3{
    font-size: 2rem;
    font-weight: 700;
}
.team-member h4{
    font-weight:550;
    font-size: 1.5rem;
}
.team-member img{
    width: 40%;
    border-radius: 10px;
}
footer nav{
    justify-content: center;
    background:grey;
}

@media(max-width: 800px){
    #top-logo{
        display:none;
    }
    .first-section{
        font-size: 1.6rem;
        height: auto;
    }
    .potluck-feature{
        font-size: 1.3rem;
    }
    .potluck-feature h3{
        font-size: 1.6rem;
    }
    h2{
        font-size: 3rem;
    }
    footer nav a{
        text-align: center;
    }
    .first-section{
        font-size: 1.6rem;
    }
    .team-member{
        font-size: 1.3rem;
        width: 50%;
    }
    .team-member h3{
        font-size: 1.6rem;
    }
}
@media(max-width: 500px){ /* mobile sizing */
nav{
    justify-content: center;
}
nav a{
    font-size: 2rem;
}
.container h1{
    font-size: 4rem;
}
.container p{
    font-size: 2rem;
    margin-bottom: 10%;
}
.first-section{
    font-size: 1.4rem;
}
h2{
    font-size: 3rem;
}
.features-container{
    flex-direction: row;
    flex-wrap:wrap;
}
.potluck-feature{
    width: 100%;
    margin-bottom: 5%;
    border-bottom: 1px dashed black;
}
.potluck-feature h3{
    font-weight: 700;
}
.startPlanning h3{
    font-size: 2.5rem;
}
.startPlanning{
    margin-bottom: 10%;
}
footer{
    background:grey;
    height: auto;
    
}
footer nav a{
    font-size: 1.6rem;
}
.the-team{
    flex-flow:column, wrap;
    

}
.team-member{
    width: 100%;
    margin-bottom: 5%;
    border-bottom: 1px dashed black;
    font-size: 1.4rem;
}
.team-member h3{
    font-weight: 700;
}
footer nav a:hover{
    display:none;
}
}
@media(max-width:375px){
    .container h1{
        font-size: 4.5rem;
    }
    .first-section{
        font-size: 1.4rem;
    }
    .features-container{
        flex-wrap:wrap;
    }
    .potluck-feature{
        width: 100%;
    }
    .startPlanning h3{
        font-size: 2.5rem;
    }
    .the-team{
        flex-flow: column, wrap;
    }
    .the-team h2{
        font-size: 2.3rem;
    }
    .team-member{
        width: 100%;
        font-size: 1.4rem;
    }
}